/* Styling for the FeedPage */
.feedPage {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #0d072c;
    border-radius: 8px;
  }
  
  /* Title styling */
  h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    color: #88ff00;
  }
  
  /* Styling for individual posts */
  .postCard {
    background-color: #dfdada;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(255, 230, 0, 0.1);
  }
  
  .postCard h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .postCard p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
  }
  
  /* Add some margin to the buttons */
  button {
    padding: 8px 16px;
    border: none;
    background-color: #e74c3c;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #c0392b;
  }
  
  button:focus {
    outline: none;
  }
  
  /* Styling for the PostCreator component */
  .postCreator {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #afa5a5;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(255, 208, 0, 0.1);
  }
  
  textarea {
    width: 475px;
    height: 120px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    resize: none;
    margin-bottom: 20px;
  }
  
  input[type="file"] {
    margin-bottom: 10px;
  }
  
  input[type="file"]:first-of-type {
    margin-right: 10px;
  }
  
  button {
    width: 300px;
    padding: 12px;
    font-size: 16px;
    color: white;
    background-color: #3f3f3f;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  